body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

div[property="header"]{
    background-color: #333;
    color: white;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 5px;
}

select {
    margin: 10px;
    padding: 5px;
}

div[property="nav"] {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

div[property="nav"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Afficher les éléments en ligne */
    justify-content: space-around; /* Espacement égal entre les éléments */
}

div[property="nav"] li {
    display: inline;
    margin: 0 10px;
    align-content: center;
}

div[property="nav"] a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

div[property="nav"] a:hover {
    text-decoration: underline;
}

div[property="main"] {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#cv-link {
    display: block;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

#cv-link:hover {
    background-color: #0056b3;
}

#lang-switcher {
    display: flex;
    align-items: center;
}

#lang-switcher img {
    width: 30px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#language-selector {
    display: flex;
    align-items: center;
}

.flag {
    width: 30px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#video {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

#video-container {
    display: flex;
    align-items: center;
}

#youtube-iframe {
    width: 800px;
    height: 600px;
}

#video-text {
    margin-left: 20px;
}

div[property="footer"] {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

div[property="main"] {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr; /* Divise la page en 5 colonnes */
}

div[property="main"]  > div:first-child {
    grid-column: 2 / 3; /* Le premier div prend 2/5 de l'espace */
}

#actu {
    grid-column: 4 / 5; /* La vidéo prend 1/5 de l'espace, située dans la 4ème colonne */
}

#video object {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: fit-content;
}

#role-and-image {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    justify-content: flex-start; /* Alignement horizontal au début */
}

#role-and-image #img_ent {
    margin-left: 20px; /* Ajoute un peu d'espace entre le texte et l'image */
}

#projectSteps li {
    margin-left: 20px; /* Ajustez selon le retrait désiré */
}

li:has(> a) {
    list-style-type: none;
}

div[property="footer"] p:not(:first-child) {
    display: inline-block; /* Ou 'inline', selon la mise en page souhaitée */
    margin-right: 10px; /* Ajoute un peu d'espace entre les éléments, ajustez selon les besoins */
}